<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <title>Anonymous Proxy</title>
  </head>
  <body>
   <div class="wrapper">
     <!-- Aqui empieza el header -->
    <header>
      <div></div>
    </header>
    <!-- aquí comienza el hero -->
     <div class="hero">
       <h1 class="hero__title"> 
         <span> Anonymous</span> <span>Proxy</span>
        </h1>
       <p class="hero__text">In hac habitasse platea dictums</p>
    
     <div class="hero__button">
       <a href="#"> <img src="./assets/images/ico-scroll-down.svg" alt=""></a>
     </div>
    </div>
    <!-- aqui empieza el main -->
    <main>
      <section>
        <p>Insomnia Tips</p>
        <h2>Looking Through A Window</h2>
        <p>Donec accumsan, nulla ut volutpat porttotor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <button> <a href="#">Go</a></button>
      </section>
      <section>
        <h2>3 Reason Ton Purchase</h2>
        <article>
          <h3>Ut sed metus</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
        </article>
        <article>
          <h3>Curabitur ac erat</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
        </article>
        <article>
          <h3>Moribi dictum</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
        </article>
        <button>
          <a href="#"> More reasons</a>
        </button>
      </section>
    </main>
    <!-- aqui empieza el footer -->
    <footer>
      <nav>
        <ul>
          <li>ARTICLES</li>
          <li>BOOKS</li>
          <li>EVENTS</li>
          <li>REASON</li>
          <li>TIPS</li>
        </ul>
        <ul>
          <li>TWITTER</li>
          <li>INSTAGRAM</li>
          <li>MASTODON.SOCIAL</li>
        </ul>
      </nav>
      <span>
        ©2017
      </span>
      <span>
        We <span class="heart">&hearts;</span>Components</span>
      </span>
    </footer>



















   </div>
      
    
  </body>
</html>
