<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <title>Anonymous Proxy</title>
  </head>
  <body>
   <div class="wrapper">
     <!-- Aqui empieza el header -->
    <header>
      <nav></nav>
    </header>
    <!-- aquí comienza el hero -->
     <div class="hero"></div>
     <div class="hero__information">
       <h1>Anonymous Proxy</h1>
       <p>In hac habitasse platea dictums</p>
     </div>
     <span class="hero_button">
       <a href="#"> <img src="../images/ico-scroll-down.svg" alt=""></a>
     </span>



















   </div>
      
    
  </body>
</html>
