<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="./assets/css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <title>Anonymous Proxy</title>
</head>

<body>
  <div class="wrapper">

    <!-- Aqui empieza el header -->

    <header>
      <div class="menu"></div>
    </header>

    <!-- aquí comienza el hero -->

    <div class="hero">
      <h1 class="hero__title">
        <span> Anonymous</span> <span>Proxy</span>
      </h1>
      <p class="hero__text">In hac habitasse platea dictums</p>

      <div class="hero__button">
        <a href="#"> <img src="./assets/images/ico-scroll-down.svg" alt=""></a>
      </div>
    </div>

    <!-- aqui empieza el main -->
    <main class="main">

      <!-- primera section -->
      <section class="main__section">
        <p class="section__text">Insomnia Tips</p>
        <h2 class="section__title">Looking Through A Window</h2>
        <p class="section__text--two">Donec accumsan, nulla ut volutpat porttotor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
          semper sodales rutrum.</p>
        <button class="button__main">Go</button>
      </section>

      <!-- segunda section--articles -->
      <section class="main__articles"> 
        <h2 class="articles__title"> 3 Reason Ton Purchase</h2>
        <div class="section__articles">
          <article class="articles">
            <h3 class="articles__title">Ut sed metus</h3>
            <p class="articles__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
          </article>
          <article class="articles">
            <h3 class="articles__title">Curabitur ac erat</h3>
            <p class="articles__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
          </article>
          <article class="articles">
            <h3 class="articles__title">Moribi dictum</h3>
            <p class="articles__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
          </article>
        </div>
        <button class="last__button">More reasons</button>
      </section>
    </main>

    <!-- aqui empieza el footer -->
    <footer class="footer">
      <div class="container">
        <div class="container__button">
          <a href="#"> <img src="./assets/images/ico-arrow.svg" alt=""> </a>
        </div>
        
          <nav class="footer__nav">
            <ul class="nav__list"> 
              <li class="list__item">ARTICLES </li>
              <li class="list__item">BOOKS</li>
              <li class="list__item">EVENTS</li>
              <li class="list__item">REASON</li>
              <li class="list__item">TIPS</li>
            </ul>
          </nav>
          <div class="social__net">
              <ul class="social__list">
                <li class="social__list">TWITTER</li>
                <li class="social__list">INSTAGRAM</li>
                <li class="social__list">MASTODON.SOCIAL</li>
              </ul>
          </div>

        <div class="span">
            <span>©2017</span>
            <span>We <span class="heart">&hearts;</span>Components</span>
        </div>

      </div>
      
    </footer>

  </div>


</body>

</html>
