.menu{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/ico-menu.svg) no-repeat center;
    background-color: #0271bc;
    background-size: 50%;
    position: fixed;
    z-index: 3;

}