.main__section{
    max-width: 70vh;
    height: 360px;
    margin: 0 auto;
    padding:  10px;
  
}

.section__text{
    color: #8ccbea;
    font-size: 0.875rem;
    padding-top: 10px;

    @media all and (min-width:1200px){
        font-size: 1rem;

    }
}
.section__title{
    color: #000000;
    font-size: 1.5rem;
    @media all and (min-width:760px){
        font-size: 1.625rem;
    }

}
.section__text--two{
    color:#4a4a4a;
    font-size: 1.125rem;
    line-height: 1.875rem;
    
}

.main__articles{
    height: 420px;
    text-align: center;
    background-color: #eff9ff;
    padding-top: 15px;
    margin: 0px;

    @media all and (min-width:760px){
        padding-top: 60px;
    }
    
}
.main__title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    @media all and (min-width:760px){
        font-size: 1.625rem;
    }
    @media all and (min-width:1200px){
        font-size: 2rem;
    }
}

.section__articles{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom:5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width:760px){
        flex-direction: row;
        justify-content: space-evenly;
        line-height: 30px;
        padding-top: 30px;
    }
    .articles{
        width: 300px; 

    }



}
.article__title{
    font-size: 1.125rem;
    margin: 0px;

    @media all and (min-width:760px){
        font-size: 1.5rem;
    }

}
.article__text{
    font-size: 1.125rem;
    @media all and (min-width:760px){
        font-size: 1.25rem;
    }
}
