.button__main{
    border: 3px $button-color solid;
    background-color: $general-color;
    width: 76px;
    height: 45px;
    border-radius: 30px;
    color: $button-color;
    font-weight: bold;

    @media all and (min-width:760px){
        width: 91px;
        
    }
    @media all and (min-width:1200px){
        width: 160px;
    }

    
}
.button__main:hover{
    background-color: $button-color;
    color: $general-color;
    border: 3px $general-color solid;
}
.last__button{

    background-color: $button-color;
    width: 184px;
    height: 45px;
    color: $general-color;
    border-radius: 30px;
    font-weight: bold;

    @media all and (min-width:760px){
        width: 210px;
    }
    @media all and (min-width:1200px){
        width: 255px;
    }

}
.last__button:hover{
    background-color: $general-color;
    color: $button-color;
    border: 3px $button-color solid;
}